
@{
    ViewBag.Title = "GetUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetUserRoles</h2>

@using (Html.BeginForm())
{
    // only admin can modify user role
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    // for user selection dropdown list
    <div class="form-group">
        <label class="control-label col-md-3">User(Email Account)</label>
        <div class="col-md-8">
            @Html.DropDownList("Email", (IEnumerable<SelectListItem>)ViewBag.Users, "Select one user from list", htmlAttributes: new { @class = "form-control col-md-10" })
        </div>
    </div>

    // add a button for submit user role
    <div class="form-group">
        <div class="col-md-offset-3 col-md=10">
            <input type="submit" value="Search" class="btn-default" />
        </div>
    </div>
}

@if (ViewBag.Roles != null)
{
    <div>
        <h3>This user's role(s):</h3>
        <ul>
            @foreach (var role in ViewBag.Roles)
            {
                <li>@role - @Html.ActionLink("Delete","DeleteUserRole",new { Email = ViewBag.Email, Role = @role})</li>
            }
        </ul>
    </div>
}