@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>YuLong Restaurant</h1>
    <p class="lead">Explore most tasty Chinese food here!.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Location On Map</h2>
        <p>
            This Map shows all of our branches stores (marked with flags on map)
            Besides, our map can direct your tour to our restaurant and shows your current location.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Booking</h2>
        <p>Welcome you to please an order on our event calendar.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User Management</h2>
        <p>You can easily manage the users' role after login with an admin account.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>